html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 }
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div {
  aspect-ratio: 1;
  width: 25vw;
  background-image: conic-gradient(
    black 0%,
    black 50%,
    #46c5d4 50.00001%,
    #46c5d4 75%,
    white 75.00001%
  );
  border-radius: 50%;
  transform: scaleX(-1);
  border: 1px solid black;
  
}
div:nth-child(2) {
    rotate: 180deg;
}
div:nth-child(1) {
    rotate: 90deg
}
div:nth-child(4) {
    rotate: -90deg;
}
 